Name: Nabin Shrestha
UN ID: 16418525
*{margin: 0;
padding: 0;}

body {
  background: rgba(163, 230, 215, 0.73);
  margin: 0%;
}
div.images{
  text-align: center;
}

.images {
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  margin-left: 40%;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.images img {
  height: 100%;  width: 100%;
  transition: all is ease;

}
.images img:hover {
  transform: scale(1.2);
}
nav ul li {
   display: flex; flex-direction: row;
   height: 44px;
   line-height: 60px;
   display: block;
   list-style-type: none;
   width: 150px;
 }
.images {
  width: 250px;
   height: 200px;
   background: red;
   -webkit-transition: width 2s, height 4s;
   transition: width 2s, height 4s;


}
.images:hover{
  width: 290px;
   height: 250px;
}
  .head {
   font-family: 'Oswald', sans-serif;
   font-size: 1.6em;
   text-align: center;
   text-shadow: 1px 1px 2px red;
   color: #B3B5CA;
 }
ul {
  margin-top: 0px;
}
 nav ul{
   display: flex; flex-direction: row;
   justify-content: space-around;
 }
 nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 1.5em;
   display: block;
   text-align: center;
}
.divide {
  background-color: red;
  height: 4px;
}
.divide:hover {
  background-color: skyblue;
}
.first {
  background-color: rgba(163, 230, 215, 0.73);
  padding: 28px 0px 20px 0px;

}
 .red2{
   background-color: red;
 }
.second {
  opacity: 0.8;
  background-color: black;
}
.red:hover{
  background-color: skyblue;
}
.red1:hover{
  background-color: skyblue;}

.red2:hover{
  background-color: skyblue;}

.red3:hover{
  background-color: skyblue;}

h1{
  padding: 10px 0px 10px 10px;
}
.biography{
  padding: 50px;
  background: skyblue;
  margin-right: 15px;
  padding-bottom: 0px;
}
p {
  font-size: 1.2em;
  font-family: 'Lobster', cursive;

}
img {
  height: 350px;
  width: 300px;
}
.main {
  display: flex; flex-direction: row-reverse;
}
.imagess {
  margin-left: 15px;
}
footer {
  background-color: rgba(163, 230, 215, 0.73);
  padding: 5% 10% 5% 10%;
}
.div {
  padding-left: 40%;
}
.div img {
  padding: 6px;
  font-size: 0.5em;
}
.footer {
  justify-content: space-around;
  padding-bottom: 25px;
  padding-top: 15px;
  display: flex; flex-direction: row;
}
.social img {
  width: 40px;
  height: 40px;
  transition: all is ease;
}
.social img:hover {
  background-color: blue;
  transform: scale(1.2);
}
.copy{font-size: 1.2em; color: black;}
.develop{font-size: 1.2em;color: black;}

@media all and (max-width:450px) {
  nav ul {display: flex; flex-direction: column; justify-content: center;}
  nav ul li { width: 100%; text-align: center;}
  nav ul li a{width: 100%;}
  .red1{width: 100%;}
  .home{display: flex;flex-direction: column;}
  .images{display: flex;flex-direction: column; margin-left:55px; }
  ul {padding-left: 0px;}
}
