/*Name: Nabin Shrestha
UN ID: 16418525*/
*{margin: 0px;
padding: 0px;}
body {
  background-color: rgba(163, 230, 215, 0.73);
  margin: 0%;
}
div.images{
  text-align: center;
}

.images {
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  margin-left: 40%;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.images img {
  height: 100%;  width: 100%;
  transition: all is ease;

}
.images img:hover {
  transform: scale(1.2);
}
nav ul li {
   display: flex; flex-direction: row;
   height: 56px;
   line-height: 60px;
   display: block;
   list-style-type: none;
   width: 150px;
 }
.images {
  width: 250px;
   height: 200px;
   background: red;
   -webkit-transition: width 2s, height 4s;
   transition: width 2s, height 4s;


}
.images:hover{
  width: 290px;
   height: 250px;
}
  .head {
   font-family: 'Oswald', sans-serif;
   font-size: 1.6em;
   text-align: center;
   text-shadow: 1px 1px 2px red;
   color: #B3B5CA;
 }
ul {
  margin-top: 0px;
}
 nav ul{
   display: flex; flex-direction: row;
   justify-content: space-around;
 }
 nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 1.5em;
   display: block;
   text-align: center;
}
.divide {
  background-color: red;
  height: 4px;
}
.divide:hover {
  background-color: skyblue;
}
.first {
  background-color: rgba(163, 230, 215, 0.73);
  padding: 28px 0px 20px 0px;
}
 .red3{
   background-color: red;
 }
.second {
  opacity: 0.8;
  background-color: black;
}
.red:hover{
  background-color: skyblue;
}
.red1:hover{
  background-color: skyblue;}

.red2:hover{
  background-color: skyblue;}

.red3:hover{
  background-color: skyblue;}


.contact2 {
  background-color: #B9B4A8;
  padding: 20px 20px 20px 20px;
  margin: 80px 55px 100px 70px;
  border-radius: 10px;

}
.coment{
  height: 100px;
  width: 350px;
}
.submit {
  margin-left: 20px;
  -webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
}
.submit:hover{
  width: 50px;
  height: 25px;
}
.submit:hover {
  background-color: skyblue;
}
.contact1{
  background-color: #B9B4A8;
  display: flex; flex-direction: column;
  border-radius: 10px;
  justify-content: space-around;
  padding: 15px 0px 10px 40px;
  margin: 80px 5px 100px 45px;
  color: white;
}
.contact0 {
  display: flex; flex-direction: row;
  margin-left: 50px;
}
img {
  height: 40px;
  width: 45px;

}
.facebook:hover{
  background: skyblue;
  transform: scale(1.1);
}
.google:hover{
  background: skyblue;
  transform: scale(1.1);

}
.insta:hover{
  background: skyblue;
  transform: scale(1.1);
}
textarea{ margin-right: 100px; margin-left: 50px; width: 300px;}
.header {
  padding: 15px 0px 0px 120px;
}
.map img{
  width: 400px;
  height: 200px;
}
.map {
  padding-right: 20px;
}
footer {
  background-color: rgba(163, 230, 215, 0.73);
  padding: 5% 10% 5% 10%;
}
.div {
  padding-left: 40%;
}
.div img {
  padding: 6px;
  font-size: 0.5em;
}
.footer {
  justify-content: space-around;
  padding-bottom: 25px;
  padding-top: 30px;
  display: flex; flex-direction: row;
}
.social img {
  width: 40px;
  height: 40px;
  transition: all is ease;
}
.social img:hover {
  background-color: blue;
  transform: scale(1.2);
}
.copy{font-size: 1.2em; color: black;}
.develop{font-size: 1.2em;color: black;}

@media all and (max-width:750px) {
  nav ul {display: flex; flex-direction: column; justify-content: center;}
  nav ul li { width: 100%; text-align: center;}
  nav ul li a{width: 100%;}
  .red1{width: 100%;}
  .home{display: flex;flex-direction: column;}
  .images{display: flex;flex-direction: column; margin-left:12%; }
  ul {padding-left: 0px;}
  .images:hover{
    width: 250px;
     height: 200px;
  }
  .contact0 {display: flex; flex-direction: column; margin-left: 2px;}
  .contact3{display: flex; flex-direction: row;}
  .contact3 a{padding-left: 2px;}
  .contact1{font-size: 0.8em;}
  .contact2 {
    padding: 20px 20px 20px 10px;
    margin: 0px 0px 5px 2px;}
  .comment5{height: 100px; width: 250px;}
  .contact1{  padding: 20px 20px 20px 10px;
    margin: 80px 0px 80px 2px;}
  .map img{width: 310px;}
  .footer {display: flex;flex-direction: column;}
  .header {font-size: 1.3em;}
  .class1{font-size: 1.2em;}
  .copy {font-size: 0.9em;}
  .develop{font-size: 0.9em;}
  .body {margin-left: 0px;}
  .footer{padding-left: 12%;}
}
