/*Name: Nabin Shrestha
UN ID: 16418525*/

/*font imported from google font*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:400,700');
*{margin: 0px; padding:0px;}

body {
  background-color: rgba(163, 230, 215, 0.73);
  margin: 2px;}

div.images{
  text-align: center;} /* it aligns the text in center*/

.images {
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  margin-left: 40%;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.images img {
  height: 100%;  width: 100%;}

.images img:hover {transform: scale(1.2);}/* hover works when mouse move over the text*/

nav ul li {
   display: flex; flex-direction: row;/*it define the flex as row inside a flex container*/
   height: 56px;
   line-height: 60px;
   display: block;
   list-style-type: none;
   width: 150px;}

.images {
  width: 250px;
   height: 200px;
   background: red;
   -webkit-transition: width 2s, height 4s;/*for safari*/
   -o-transition:  width 2s, height 4s; /*for opera*/
   -moz-transition:  width 2s, height 4s; /*for mozilla*/
   transition: width 2s, height 4s;}

.imagess img{height: 700px;}

.images:hover{
  width: 290px;
   height: 250px;}

.head {
   font-family: 'Oswald', sans-serif;/*font-family imported from google font*/
   font-size: 1.7em;
   text-align: center;
   text-shadow: 1px 1px 2px red;
   color: #B3B5CA;}

ul {
  margin-top: 0px;}

nav ul{
   display: flex; flex-direction: row;
   justify-content: space-around;}/*justify content space around in any section*/


nav ul li a {
   text-decoration: none;/*it gives the decoration of text*/
   color: white;/*font color define*/
   font-size: 1.5em;
   display: block;/*define text as a block*/
   text-align: center;}

.divide {
  background-color: red;
  height: 4px;}

.divide:hover {
  background-color: skyblue;}

.first {
  background-color: rgba(163, 230, 215, 0.73);/*micture of red green blue alpha color*/
  padding: 28px 0px 20px 0px;}

.red1{
   background-color: red;}

.second {
  opacity: 0.8;
  background-color: black;}

.red1:hover{
  background-color: skyblue;}

.red:hover{
  background-color: skyblue;}

.red2:hover{
  background-color: skyblue;}

.red3:hover{
  background-color: skyblue;}

h3 {
  font-size: 2em;
  border: 5px solid Transparent;
  color: grey;}

.personal {
  color: grey;
  font-size: 1.3em;}

.training {
  color: grey;
  font-size: 2em;}

.image1 {
  display: flex; flex-direction: row;
  padding-top: 0%;}

.imagess {
  margin-left: 200px;}

h2{
  padding: 0px 5px 0px 5px;}

h1 {
   padding: 10px 0px 0px 10px;}

h3 {
  margin: 0px 0px 0px 0px;}

footer {
  background-color: rgba(163, 230, 215, 0.73);
  padding: 5% 10% 5% 10%;}

.div {
  padding-left: 40%;}

.div img {
  padding: 6px;
  font-size: 0.5em;}

.footer {
  justify-content: space-around;
  padding-bottom: 25px;
  padding-top: 15px;
  display: flex; flex-direction: row;}

.social img {
  width: 40px;
  height: 40px;}

.social img:hover {
  background-color: blue;
  transform: scale(1.2);}

.copy{font-size: 1.2em; color: black;}

.develop{font-size: 1.2em;color: black;}

@media all and (max-width:750px) /* media query makes the website responsive*/
{
  nav ul {display: flex; flex-direction: column; justify-content: center;}
  nav ul li { width: 100%; text-align: center;}
  nav ul li a{width: 100%;}
  .red1{width: 100%;}
  .home{display: flex;flex-direction: column;}
  .images{display: flex;flex-direction: column; margin-left:12%; }
  ul {padding-left: 0px;}
  h1 {font-size: 1.5em;}
  .personal{font-size: 0.8em;display: flex; flex-direction: column;}
  .para1 {font-size: 0.6em; display: flex; flex-direction: column;}
  .education {font-size: 1.4em;display: flex; flex-direction: column;}
  .graduate {font-size: 0.9em;display: flex; flex-direction: column;}
  .training{font-size: 1.4em;display: flex; flex-direction: column;}
  .train {font-size: 0.9em;display: flex; flex-direction: column;}
  .footer {flex-direction: column;}
  .image1 {display: flex; flex-direction: column-reverse;; }
  .imagess{margin-left:10%; }
  .imagess img{width: 150px; height: 250px;}
  .images:hover{width: 250px; height: 200px;}
  .copy{font-size: 0.9em;}
  .develop{font-size: 0.9em;}
}
